@font-face {
  font-family: "Kunst Grotesk";
  src: url("/fonts/FTKunstGroteskUnlicensedTrial-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Items";
  src: url("/fonts/Items-CondensedThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Items";
  src: url("/fonts/Items-CondensedThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
:root,
body {
  margin: 0;
  overflow: hidden;
}

body {
  height: 100dvh;
}

a, a:hover, a:focus, a:active, a:visited,
button,
button:hover,
button:focus,
button:active,
button:visited,
[role=button],
[role=button]:hover,
[role=button]:focus,
[role=button]:active,
[role=button]:visited {
  all: unset;
  cursor: pointer;
  padding: var(--button-padding);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
a:hover,
button:hover,
[role=button]:hover {
  color: #a0a0a0;
}

h1,
h2,
h3 {
  all: unset;
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

:root {
  font-size: 10px;
  --button-padding: 1rem;
  --header-spacing: 0.25rem;
  --x-margin: 3rem;
  --y-margin-top: 2.5rem;
  --y-margin-bottom: 3rem;
  --page-spacing-top: 13rem;
  --all-projects-row-gap: 3rem;
  --selected-works-inner-gap: 5rem;
  --project-slide-gap: 2rem;
  --ui-font-size: 1.3rem;
  --info-font-size: 4.5rem;
  --selected-works-font-size: 11rem;
  --selected-works-line-height: 0.95;
}
@media (max-width: 768px) {
  :root {
    --x-margin: 2rem;
    --y-margin-top: 1.5rem;
    --y-margin-bottom: 1.75rem;
    --page-spacing-top: 8.5rem;
    --all-projects-row-height: 10rem;
    --ui-font-size: 1.25rem;
    --info-font-size: 3.8rem;
    --selected-works-font-size: 6.8rem;
    --selected-works-line-height: 1.05;
  }
}
@media (min-width: 1920px) {
  :root {
    --ui-font-size: 1.4rem;
  }
}
